/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */
/* asimovian-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Asimovian';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/asimovian-v2-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* edu-nsw-act-foundation-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Edu NSW ACT Foundation';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/edu-nsw-act-foundation-v5-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}


html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* end reset browser styles */

/*rest of the code (other than nav bar)*/
html {
      background-color: #e55451;
      background-image: url(images/geometric.webp);
      font-size: 17px;}

body {
  font-family: ''Edu NSW ACT Foundation', sans-serif;
  font-weight: false;
  line-height: 1.65;
}

/*overriding code for the links that are lower in priority*/
.body .box .lower a{
   font-family: ''Edu NSW ACT Foundation', sans-serif;
     font-size: 1em;
font-weight: false;
  line-height: 1.65;
}

p {
  font-size: 1em;
}

h1,
h2,
h3,
h4,
h5, 
nav a,
.body .box a{
  font-family: 'Asimovian', sans-serif;
  font-weight: true;
  line-height: 1.15;
}

h1,
.text-size-h1 {
  font-family: 'Asimovian', sans-serif;
  font-weight: 700;
  font-size: 3.09em;
  
  margin-top: 20px;
  margin-left: 10px;
}
nav.a{
      font-family: 'Asimovian', sans-serif;
}

h2,
.text-size-h2 { font-size: 2.14em; }

h3,
.text-size-h3 { font-size: 1.65em; }

h4,
.text-size-h4 { font-size: 1.36em; }

h5,
.text-size-h5 { font-size: 1.05em; }

.text-caption { font-size: 0.7em; }

small,
.text-small {
  font-size: 0.64em;
}

.body {
  background-color:  #ffe3a1 /*#ffd7a1*/;
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgb(250, 224, 110);
  max-width: 1060px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 margin-bottom:75px;
  padding: 15px;
}

/*Text color for the links*/
a{color: #e55451;}

/* CSS Grid Container */
.body .gridContainer {
  display: grid;
  width: 900px;
  grid-template: repeat(1, 1fr) / repeat(4,1fr);
  gap: 29px;
}

/* CSS Grid Items */
.body .box {
      margin: 10px;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Grid Box Text Margin*/
.body .box h2, h3, p{
     margin: 10px;
}

.body .box p{
        margin: 10px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

nav li {
  float: left;
}

nav li, nav a{
  padding: 14px 16px;
  display: inline-block;
  text-align: center;
   color: white;
text-decoration: none;
}

nav a{
    transition: transform .3s, background-color .3s ease-in .3s;
    transition: transform .3s, color .2s ease-in .3s;
}


nav a:hover{
    background-color: #FFD700;
    color: #1783c2;
    transform: scale(1.5);
}


/*
nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: #FFD700;
    padding: 10px 20px;
    background: #750707;
    border-radius: 5px;
    border: 1px solid #c95e00;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 1.5px rgba(000,000,000,0.2),
        0px 1.5px 0px rgba(255,255,255,0.3);
}*/

.active a{
  /*background-color: #4CAF50;
  color: white;*/
/*transform: scale(1.5);*/
  /*background-image: url(images/colored.png);*/
      color: #FFD700;
}

/* navigation bar end*/

/*static footer code*/
h2, p {
  margin: 10px;
}

.foot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot ul li {
  float: left;
}

.foot ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}

/*static footer code end*/

.move h1{
       position: absolute;
  top: 8px;
  right: 16px;
}
