/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */



.body {
  background-color: rgb(255,255,255);
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgb(250, 224, 110);
  max-width: 860px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
}
/* CSS Grid Container */
.body .gridContainer {
  display: grid;
  width: 900px;
  height: 1200px;
  grid-template: repeat(3, 1fr) / repeat(4,1fr);
  /*gap: 59px;*/
}

/* CSS Grid Items */
.body .box {
      margin: 10px;
      
      background-color: #D6B588;
opacity: 1;
background-image:  linear-gradient(135deg, #c9a27c 25%, transparent 25%), linear-gradient(225deg, #c9a27c 25%, transparent 25%), linear-gradient(45deg, #c9a27c 25%, transparent 25%), linear-gradient(315deg, #c9a27c 25%, #D6B588 25%);
background-position:  40px 0, 40px 0, 0 0, 0 0;
background-size: 40px 40px;
background-repeat: repeat;
      
      color: #00674F;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Grid Box Text Margin*/
.body .box h2, h3, p{
     margin: 10px;
}

.body .box p{
        margin: 10px;
        background-color: #c9a27c;
}

/* Paragraph Text color override */
.body .top{
      color:#D6B588;
}
