/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.2;
}
ol { 
  padding-left: 1.4em;
  list-style: decimal;
}
ul {
  padding-left: 1.4em;
  list-style: square;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
} 
/* end reset browser styles */

/*rest of the code (other than nav bar)*/
html {
 background-color: #e55451;
background-image: url(images/geometric.webp);
}

.body {
  background-color:  #ffe3a1 /*#ffd7a1*/;
  border: 3px solid rgb(75, 75, 75);
  box-shadow: 0 0 15px 5px rgb(250, 224, 110);
  max-width: 1060px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
 margin-bottom:90px;
  padding: 15px;
}

/* CSS Grid Container */
.body .gridContainer {
  display: grid;
  width: 900px;
  grid-template: repeat(1, 1fr) / repeat(3,1fr);
  gap: 29px;
}

/* CSS Grid Items */
.body .box {
      margin: 10px;
      
      /*background-color: #D6B588;
opacity: 1;
background-image:  linear-gradient(135deg, #c9a27c 25%, transparent 25%), linear-gradient(225deg, #c9a27c 25%, transparent 25%), linear-gradient(45deg, #c9a27c 25%, transparent 25%), linear-gradient(315deg, #c9a27c 25%, #D6B588 25%);
background-position:  40px 0, 40px 0, 0 0, 0 0;
background-size: 40px 40px;
background-repeat: repeat;*/
      
      /*color: #00674F;*/
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Grid Box Text Margin*/
.body .box h2, h3, p{
     margin: 10px;
}

.body .box p{
        margin: 10px;
        /*background-color: #c9a27c;*/
}

/* Paragraph Text color override */
/*.body .top{
      color:#D6B588;
}*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #38444d;
}

nav li {
  float: left;
}

nav li, a {
  padding: 14px 16px;
  display: inline-block;
  text-align: center;
text-decoration: none;
}

nav li a:hover{
  background-color: red;
}

/*
nav a {
    display: inline-block;
    text-decoration: none;
    font-size: 1.2em;
    color: #FFD700;
    padding: 10px 20px;
    background: #750707;
    border-radius: 5px;
    border: 1px solid #c95e00;
    box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
    text-shadow:
        0px -1px 1.5px rgba(000,000,000,0.2),
        0px 1.5px 0px rgba(255,255,255,0.3);
}*/

.active a{
  /*background-color: #4CAF50;
  color: white;*/
/*transform: scale(1.5);*/
  /*background-image: url(images/colored.png);*/
}

/* navigation bar end*/

h1 {
  margin-top: 20px;
  margin-left: 10px;
}

h2, p {
  margin: 10px;
}

.foot ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.foot ul li {
  float: left;
}

.foot ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
}
