/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

/*This goes ontop to ensure the font styles doesn't mess with the flex direction*/
nav ul{
  list-styles: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
}

.cta nav ul{
  list-styles: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 40px;
 .small_font_14 {font-size:14px;}
}

em{
  color: #0000FF;
}

/* Font Code*/

/* Code for specific sections*/

nav ul li{
      padding: 10px;
      border-radius: 5px;
}

nav a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.2em;
	color: #FFD700;
	padding: 10px 20px;
	background: #750707;
	border-radius: 5px;
	border: 1px solid #c95e00;
	box-shadow: inset 0px 1px 0px rgba(255,255,255,0.7);
	text-shadow:
		0px -1px 1.5px rgba(000,000,000,0.2),
		0px 1.5px 0px rgba(255,255,255,0.3);
}

nav a{
	transition: transform .3s, background-color .7s ease-in .3s;
	transition: transform .3s, color .3s ease-in .3s;
}

/* a:hover means whatever your mouse is hovering over*/
nav a:hover{
	background-color : #FFD700;
	color: #750707;
	transform: scale(1.5);
}

/* navigation bar end*/

/* CSS Grid Container */
.gridContainer {
  display: grid;
  width: 900px;
  height: 1200px;
  grid-template: repeat(3, 1fr) / repeat(4,1fr);
  gap: 59px;
}

/* CSS Grid Items */
.box {
      margin: 10px;
      
      background-color: #D6B588;
opacity: 1;
background-image:  linear-gradient(135deg, #c9a27c 25%, transparent 25%), linear-gradient(225deg, #c9a27c 25%, transparent 25%), linear-gradient(45deg, #c9a27c 25%, transparent 25%), linear-gradient(315deg, #c9a27c 25%, #D6B588 25%);
background-position:  40px 0, 40px 0, 0 0, 0 0;
background-size: 40px 40px;
background-repeat: repeat;
      
      color: #00674F;
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
}

/* Grid Box Text Margin*/
.box h2, h3, p{
     margin: 10px;
}

.box p{
        margin: 10px;
        background-color: #c9a27c;
}

/* Paragraph Text color override */
.top{
      color:#D6B588;
}
