/* 
      .--..--..--..--..--..--.
    .' \  (`._   (_)     _   \
  .'    |  '._)         (_)  |
  \ _.')\      .----..---.   /
  |(_.'  |    /    .-\-.  \  |
  \     0|    |   ( O| O) | o|
   |  _  |  .--.____.'._.-.  |
   \ (_) | o         -` .-`  |
    |    \   |`-._ _ _ _ _\ /
    \    |   |  `. |_||_|   |
    | o  |    \_      \     |     -.   .-.
    |.-.  \     `--..-'   O |     `.`-' .'
  _.'  .' |     `-.-'      /-.__   ' .-'
.' `-.` '.|='=.='=.='=.='=|._/_ `-'.'
`-._  `.  |________/\_____|    `-.'
   .'   ).| '=' '='\/ '=' |
   `._.`  '---------------'
           //___\   //___\
             ||       ||
             ||_.-.   ||_.-.
            (_.--__) (_.--__)
      

 Insert all your glorious CSS styles below! */

/*This goes ontop to ensure the font styles doesn't mess with the flex direction*/

/* markazi-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Markazi Text';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/markazi-text-v28-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Moirai One';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/moirai-one-v1-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

html {
	 color:#FFD700;
	 font-size: 16px;
	 background-image: url(midterm_Images/dark-grey-terrazzo.webp);
}

	body {
  font-family: 'Moirai One', serif;
  font-weight: false;
  line-height: 1.65;
}

p, a{
  font-size: 1em;
  color:#FFD700;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Markazi Text', serif;
  font-weight: true;
  line-height: 1.15;
  /*background-image: url(fancy-cushion-1.webp);*/
}

h1,
.text-size-h1 {
  font-family: 'Markazi Text', sans-serif;
  font-weight: 700;
  margin-top: 0;
  font-size: 4.50em;
  background-image: url(midterm_Images/fancy-cushion-1.webp);
  /*color: #6E695E;*/
}

h2,
.text-size-h2 { font-size: 2.44em; }

h3,
.text-size-h3 { font-size: 1.95em; }

h4,
.text-size-h4 { font-size: 1.56em; }

h5,
.text-size-h5 { font-size: 1.25em; }

.text-caption { font-size: 0.8em; }

small,
.text-small {
  font-size: 0.64em;
}*/
